
{% extends "base.html" %}

    {% block content %}

        <div class="col-sm-8  col-sm-offset-2">
        <h1> {{ title }} </h1>
        <form method="GET" action="">
        <input type="text" name= "q" placeholder="Search posts" value="{{ request.GET.q }}"/>
        <input type="submit" value="Search"/>
        </form>
        <div class="row">
            {%  for obj in object_list  %}
          <div class="col-sm-6 ">
          <div class="thumbnail">
               {%  if obj.image %}
     <img src=" {{ obj.image.url }}" class="img-responsive"/>
     {% endif %}

      <div class="caption">
        <h3><a href='{%url "details" id=obj.id %}'>{{ obj.title}} </a> <small> {{ obj.timestamp| timesince}} ago</small></h3>
        <p>{{ obj.content| truncatechars:80}} </p>
        <p><a href="{%url "details" id=obj.id %}" class="btn btn-primary" role="button">View</a> </p>
      </div>
    </div>
  </div>
{%  cycle "" "<div class= 'col-sm-12'><hr/></div></div><div class= 'row'>  " %}
 {% endfor %}
                </div>


        <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>




    {% endblock content %}

     </div>